<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form-group text-center">
        <span style="font-size: 50px;"><i class="fas fa-user"></i></span>
        <h1><strong>Sign Up</strong></h1>
    </div>

    <form method="POST" novalidate>
        {%csrf_token%}

        {{form.as_p}}
        <input type="submit" value="submit">



    </form>

</body>

</html>

{% if status %}
<script>
    alert("{{status}}");
    window.location = "/"
</script>
{% endif %}